{% extends 'crudapp/base.html' %}
{% block title %}Pagination Employee List{% endblock %}
{%block content%}
    <h2>

        <center>View All Employess</center>
    </h2>

  <form action="" method="get">
   <label for="search">Enter the Keyword to Search:</label>
   <input type="text" name="search" id="search" value="{{search_query}}">
   <button type="submit" >search</button>
  </form>

    <a href="{% url 'employee_create' %}" class="btn btn-primary mb-3">Add New Employee</a>
<form id="page-size-form" action="" method="get">
    <label for="page-size-form">Items Per Page</label>
    <select name="page_size" id="page_size" onchange="updatePageSize()">
      <option value="5" {% if page_size == 5 %}selected{%endif%}>5</option>
      <option value="10" {% if page_size == 10 %}selected{%endif%}>10</option>
      <option value="15" {% if page_size == 15 %}selected{%endif%}>15</option>
      <option value="20" {% if page_size == 20 %}selected{%endif%}>20</option>
      <option value="25" {% if page_size == 25 %}selected{%endif%}>25</option>
    </select>

</form>
<table class="table sortable">
    <thead>
        <tr>
          <th>
            <a href="?sort_by=FirstName&sort_order={% if sort_by == 'FirstName' and sort_order == 'asc' %}desc{% else %}asc{% endif %}&page_size={{ page_size }}&search={{ search_query }}">
              First Name
            </a>
          </th>
          <th>
            <a href="?sort_by=LastName&sort_order={% if sort_by == 'LastName' and sort_order == 'asc' %}desc{% else %}asc{% endif %}&page_size={{ page_size }}&search={{ search_query }}">
              Last Name
            </a>
          </th>
          <th>
            <a href="?sort_by=Title&sort_order={% if sort_by == 'Title' and sort_order == 'asc' %}desc{% else %}asc{% endif %}&page_size={{ page_size }}&search={{ search_query }}">
              Title
            </a>
          </th>
          <th>
            Country
          </th>
          <th>Actions</th>
        </tr>
      </thead>
      
  <tbody>
    {% for employee in employees_page %}
    <tr>
      <td>{{ employee.FirstName }}</td>
      <td>{{ employee.LastName }}</td>
      <td>{{ employee.Title }}</td>
      <td>{{ employee.Country }}</td>
      <td>
        <a href="{% url 'employee_detail' employee.pk %}" class="btn btn-info btn-sm">View</a>
        <a href="{% url 'employee_update' employee.pk %}" class="btn btn-warning btn-sm">Edit</a>
        <a href="{% url 'employee_delete' employee.pk %}" class="btn btn-danger btn-sm">Delete</a>
      </td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="5">No employees available.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<nav>
    <ul class="pagination">
        {% for page_num in employees_page.paginator.page_range%}
        <li>
            <a class="page_link" href="?page={{page_num}}&page_size={{page_size}}">{{page_num}}</a>
        </li>

        {%endfor%}

    </ul>
</nav>

<script>
    function updatePageSize(){
        document.getElementById("page-size-form").submit()
    }
</script>
{% endblock %}
